<h1 style="text-align:center">Welcome to My Quote Hub</h1>
<h2 style="text-align:center">Share, View and Rate Quotes</h2>
<div class="container-fluid">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
     <div class="container-fluid">
      <div class="col-w-2" style="width: 40rem;">
      <div *ngFor='let MyQuote of MyQuotes; let i= index;'>
       <div class="card" id="card1">
        <p class="card-title text-white">{{MyQuote.name}}</p>
          <p class="card-text text-white">{{MyQuote.title}}</p>
          <p class="card-text text-white">{{MyQuote.description}}</p>
          <p class="card-text text-red">{{MyQuote.author}}</p>
          <p class="date"> {{MyQuote.datePosted|date:'short'}}</p>
          <p class="time-count"> {{MyQuote.datePosted|timeCount:'short'}}</p>
          <app-quote-detail *ngIf="MyQuote.moreDetails" [quote]="MyQuote" (toDelete)="deleteQuote($event, i)"></app-quote-detail>
          <app-votes></app-votes>
            <div class="container-fluid" id="buttons">
             <button class="btn btn-sm btn-danger" id="del" (click)='removeQuote(true)'><i class="fa fa-trash" id="delete"></i></button>
             </div>
           </div>
      </div>
      </div>
