<div class="overlay">
<h1 style="text-align:center">Welcome to My Quote Hub</h1>
<h2 style="text-align:center">Share, View and Rate Quotes</h2>
<div class="container-fluid">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="container-fluid">
      <div class="col-w-2" style="width: 40rem;">
      <div *ngFor='let MyQuote of MyQuotes; let i= index;'>
       <div class="card" id="card1">
         <div class="container-fluid">
         <div class="card-header">
         <p class="card-title text-white">{{MyQuote.name}}</p>
         </div>
          <p class="card-text text-white">{{MyQuote.title}}</p>
          <p class="card-text text-white">{{MyQuote.description}}</p>
          <div class="card-footer">
          <p class="card-text text-white">{{MyQuote.author}}</p>
            </div>
          <p class="date"> {{MyQuote.datePosted|date:'short'}}</p>
           <app-quote-details *ngIf='MyQuote.showInfo' bind-quote='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
           <div class="container-fluid" id="buttons">
           <button class="btn btn-sm btn-success" (click)='upvote()'>{{MyQuote.likes}} <i class="fa fa-thumbs-up" id="like"></i></button>
           <button class="btn btn-sm hate" id="hate" (click)='downvote()'>{{MyQuote.dislikes}} <i class="fa fa-thumbs-down" id="dislike"></i></button>
           <button class="btn btn-sm btn-danger" id="del" (click)='removeQuote(true)'><i class="fa fa-trash" id="delete"></i></button>
           </div>
           </div>
         </div>
      </div>
  </div>
  </div>
