.card{
background-color: rgb(229, 228, 255, 0.4);
padding-top: 3px;
padding-bottom: 30px;
padding-right:100px;
padding-left:80px;
align-items: center;
spacing:4px;
display:flex;
flex-direction: column;
}
.container-fluid{
  display:flex;
  flex-direction: row;
}
