@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body { background:url(./assets/background.jpg); color:white;}

.h1{
text-align: center;
}
form {
 width: 300px;
 height: 300px;
 margin: auto;
 position: relative;
}
.container-fluid{
  background-color: rgba(137, 196, 244, 0.2);
  border-radius: 4px;
  padding-bottom: 6%;
  padding-top: 5%;
  padding-left:5%;
  padding-right: 5%;
  box-shadow: 2px 2px 3px 2px black;
  margin-bottom: 5%;
}

html, body { height: 100%;}
