@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body { background:url(./assets/blackpanther.jpg); color:white;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Rye', cursive;
     }

.h1{
text-align: center;
}
form {
 width: 300px;
 height: 300px;
 margin: auto;
 position: relative;
 background-color: rgba(229, 228, 255, 0.2)
}


html, body { height: 100%;}

.card{
  background-color: rgba(229, 228, 255, 0.2);
}
